<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 상세보기</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
  <nav th:replace="fragments :: menu(menu)"></nav>
</head>
<body>
<div class="container mt-5 pt-3">
  <div class="container mt-4">
    <!-- 게시글 정보 -->
    <div class="card">
      <div class="card-header">
        <h2 th:text="${board.title}"></h2>
        <p class="mb-0"><small>작성자: <span th:text="${board.author}"></span></small></p>
      </div>
      <div class="card-body">
        <p th:text="${board.content}"></p>
      </div>
      <!-- 게시글 수정, 삭제 버튼 -->
      <div class="card-footer">
        <!--<div th:if="${currentUser != null and currentUser.nickName == board.nickName}">-->
        <a class="btn btn-primary me-2" th:href="@{/board/edit/{id}(id=${board.id})}">게시글 수정</a>
        <a class="btn btn-danger" th:href="@{/board/delete/{id}(id=${board.id})}">게시글 삭제</a>
        <!--</div>-->
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="card mt-4">
      <div class="card-body">
        <form th:action="@{/board/view/{id}/write/(id=${board.id})}" method="post">
          <input type="hidden" name="board" th:value="${board.id}">
          <div class="form-group">
            <label for="comment">댓글 입력</label>
            <textarea class="form-control" id="comment" name="content" rows="3" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">댓글 등록</button>
        </form>
      </div>
    </div>
  </div>
  <!-- 댓글 정보 -->
  <div class="container mt-4">
    <div class="mt-4">
      <h3>댓글</h3>
      <div class="card mb-2" th:each="comment : ${comments}">
        <div class="card-body">
          <p class="mb-0"><strong th:text="${comment.user.username}"></strong></p>
          <p th:text="${comment.content}"></p>
        </div>
        <!-- 댓글 삭제 버튼 -->
        <div class="card-footer">
          <th:block th:if="${currentUser != null and currentUser.nickname == comment.user.nickname}">
            <a class="btn btn-sm btn-danger" th:href="@{/comment/delete/{id}(id=${comment.id})}">댓글 삭제</a>
          </th:block>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
