<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">>
<head>
  <link rel="stylesheet" type="text/css" href="css/signin.css">
  <head th:insert="fragments.html::head(title)"></head>
</head>
<body>
<header th:insert="fragments.html::menu(menu)"></header>
<br>
<br>
<table>
  <tr>
    <th>username</th>
    <th>email</th>
    <th>nickName</th>
    <th>role</th>
    <th>createdAt</th>
  </tr>
  <tr>
    <td th:text="${user.username}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.nickname}"></td>
    <td th:text="${user.role}"></td>
    <td th:text="${user.createdAt}"></td>
  </tr>
</table>
<a th:href="@{|/user/updateForm/${user.id}|}">수정하기</a>
</body>
</html>
